<!-- views/partials/footer.ejs -->
<footer class="page-footer grey lighten-3">
	<div class="footer-copyright">
		<div class="container">
		Made by <a class="white-text text-lighten-1" target="_blank" href="http://olliedavies.co.uk">Ollie Davies</a>.
		</div>
	</div>
</footer>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
<script type="text/javascript" src="/javascripts/init.js"></script>
